.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color:#434455;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}
address {
    font-style: normal;
}
.container {
   
    padding-left: 16px;
    padding-right: 16px;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2E2F42;
    text-align: center;
  }
  .list-title {   
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  }
  .list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }

/*------------- /COMMON STYLES -----------------*/

/*-------------HEDER STYLES -----------------*/
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.logotype {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
    .accent {
        color: #2E2F42
    }
    .header-container {
        display: flex;
       align-items: center;
       justify-content: space-between; 
    }
       /*-------------   HERO STYLES -----------------*/
.hero {
    background-color: rgba(46, 47, 66, 0.70);
    padding: 76px 0 72px 0;
    max-width: 320px;
    max-height: 432px;
    background-position: center;
    background-size: cover;      
   
}
.main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 72px;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
    
    }
    .order-service-btn {
        display: block;
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;    
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .order-service-btn:hover,
    .order-service-btn:focus {
        background-color: #404BBF;    
    }
/*-------------/ HERO STYLES -----------------*/

/*========BACKDROP STYLES========*/
.backdrop {
    position: fixed;
    z-index: 99999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/*=======/BACKDROP STYLES========*/
/*========MODAL WINDOW STYLES========*/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);     
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e7e9fc;    
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}
.modal-close-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #FFFFFF;
}
.modal-window-text {  
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
} 
/*========/MODAL WINDOW STYLES========*/

/*========FORM STYLES========*/

.modal-form-wrapper {
    margin-bottom: 8px;
}
.modal-form-label {
   display: block;
   margin-bottom: 4px;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
}
.modal-form-icon-box {
    position: relative;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2E2F4266;
    background-color: transparent;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon-box {
    position: relative;
}
.modal-form-input:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}

.modal-form-input:focus + .modal-form-input-icon {
    fill: #4D5AE5;
}
.modal-form-wrapper-comment {
    margin-bottom: 16px;
}

.modal-form-description {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-description:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}
.modal-form-description::placeholder {
    color: rgba(46, 47, 66, 0.40);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-description:focus::placeholder {
    color: #4D5AE5;
}
.custome-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox-label {
    display: flex;    
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    }
   
    .privacy-policy-link {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.33;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: #4D5AE5; 
    }
    .modal-form-checkbox-wrapper {
        margin-bottom: 24px;
    }
   
    .modal-form-checkbox:checked + .modal-form-checkbox-label .custome-checkbox {
        background-color: #404BBF;    
        border: none;
   }
   .modal-form-checkbox:focus + .modal-form-checkbox-label .custome-checkbox {
       outline: 2px solid #4D5AE5;
   }
  
   .modal-form-button {
    display: block;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover,
.modal-form-button:focus {
    background-color: #404BBF;    
}

/*========/FORM STYLES========*/
/*========OUR BENEFITS STYLES========*/
.benefits-icon-box {
    display: none;
}
.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}
.benefits-list-title {
    margin-bottom: 8px; 
}

/*========/OUR BENEFITS STYLES========*/
/*======== OUR TEAM STYLES========*/
.our-team {
    background-color: #F4F4FD;
}
.section-title {
    margin-bottom: 72px;
}
.our-team-list-item {
    width: 264px;
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.thumb {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-list-title {
    margin-bottom: 8px;
    text-align: center;
}
.our-team-list-text {
    text-align: center;

}
.our-team-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}
.our-team-icon-item {
    width: 40px;
    height: 40px;
}
.our-team-icon-link {
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-icon {
    fill: #f4f4fd;
}
.our-team-icon-link:hover,
.our-team-icon-link:focus {
    background-color: #404bbf;
}

/*========/OUR TEAM STYLES========*/

/*========PORTFOLIO STYLES========*/
.portfolio {
    padding: 96px 0;
}
.section-title {
    margin-bottom: 72px;
}
.portfolio-list-item {
    height: 420px;
    border: 1px solid #F4F4FD;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.thumb-portfolio {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;    
}
.portfolio-list-title  {
    margin-bottom: 8px;
}
.portfolio-list-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*========/ PORTFOLIO STYLES========*/

/*======== FOOTER STYLES========*/
.page-footer {
    background-color: #2e2f42;
}
.page-footer .logotype {
    display: block;
    margin-bottom: 17.5px;
}
.page-footer .accent {
    color: #f4f4fd;
}
.page-footer-text {
    color: #f4f4fd;
    height: 72px;

}
.footer-icon-text {
    width: 96px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #FFF;
    margin-bottom: 16px;
}
.footer-icon-list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 208px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 112px;
}
.footer-icon-link {
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-list-item {
    width: 40px;
    height: 40px; 
}
.footer-icon {
    fill: #f4f4fd;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31D0AA;
}
.footer-form-subscribe {
    width: 75px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
}
.footer-form-input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    background-color: transparent;
    outline: transparent; 
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.footer-form-input::placeholder {
    color:#FFF;
}
.footer-form-button {
    display: flex;
    gap: 16px;
    height: 40px;
    min-width: 165px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D5AE5;
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}
.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #404bbf;
}
.footer-form-button-icon {
    margin-left: 16px;
}



/*========/ FOOTER STYLES========*/


@media screen and (min-width: 480px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
 
}


@media screen and (max-width: 767px) {

/*-------------  MOBILE HEDER STYLES -----------------*/
   
    .menu {
        display: none;
    }
    .contact-list {
        display: none;
    }
    .header-container {
        height: 56px;
    }
    
       .mobile-open-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
       }
       .mobile-open-btn-icon {
        fill: #2F2F37;
       }
       

/*------------- / MOBILE  HEDER STYLES -----------------*/

/*-------------  MOBILE HEDER MENU STYLES -----------------*/ 

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999999999999;
        background-color: #FFF;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
       }
       .mobile-menu.is-open {
        transform: translateX(0%);
       }
       .mobile-close-btn {
        background-color: #E7E9FC;
        padding: 0;
        line-height: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: none;
        position: absolute;
        top: 24px;
        right: 8px;    
       }
       .mobile-close-btn:active {
        background-color: #404BBF;
        stroke: #FFFFFF;
       }
       .mobile-close-btn-icon {
        stroke: #2E2F42;
       }
       .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
       }
       .mobile-menu-list {
        width: 151px;
        margin-bottom: 168px;
       }
       .mobile-menu-item:not(:last-child) {
        margin-bottom: 40px;
       }
       .mobile-menu-link  {
        font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    .mobile-menu-link:hover,
    .mobile-menu-link:focus {
        color:#404bbf;;
    }
    .mobile-menu-link-first {
        color: #404bbf;
    }
    .mobile-contact-list {
        width: 193px;
        margin-bottom: 48px;
    }
    .mobile-contact-list-item:not(:last-child) {
        margin-bottom: 24px;
    }
    .contact-list-tel {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    }
    .contact-list-email {
        color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
    .contact-list-item {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .contact-list-item:hover,
    .contact-list-item:focus {
        color: #404bbf;
    }
    .mobile-list-icon {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-icon-item {
        width: 40px;
        height: 40px;
    }
    .mobile-icon-link {
        display: flex;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-icon {
        fill: #f4f4fd;
    }
    .mobile-icon-link:hover,
    .mobile-icon-link:focus {
        background-color: #404bbf;
    }  
       
/*-------------/  MOBILE HEDER MENU STYLES -----------------*/
/*-------------  MOBILE  HERO STYLES -----------------*/
    .main-title {
        padding-left: 59px;
        padding-right: 60px;  

    }
/*------------ /  MOBILE HERO STYLES -----------------*/



/*------------ MOBILE MODAL WINDOW  STYLES ------------*/
.modal {
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 16px 24px; 
}
.modal-window-text {
    width: 256px;
    height: 48px; 
}

/*------------ / MOBILE MODAL WINDOW  STYLES ------------*/

/*------------    MOBILE FORM STYLES ------------*/
.modal-form-input {
    padding-left: 34px;
}

.modal-form-checkbox-label-wrapper {
        
    max-height: 31px;
}
/*------------ /  MOBILE FORM STYLES ------------*/
/*======== MOBILE OUR BENEFITS STYLES========*/
.benefits-list-item {
    max-width: 288px;
    height: 120px;
}
.benefits-list-item:not(:last-child) {
    margin-bottom: 72px;
}
.benefits-list-title {
    text-align: center;

}
/*========/ MOBILE OUR BENEFITS STYLES========*/

/*========  MOBILE OUR TEAM STYLES========*/
.our-team-list-item {
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-list-item:not(:last-child) {
    margin-bottom: 72px;
}

/*========/ MOBILE OUR TEAM STYLES========*/

/*======== MOBILE PORTFOLIO STYLES========*/
.portfolio-list-item {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
}
.portfolio-overlay {
    height: 280px;
}

/*========/ MOBILE PORTFOLIO STYLES========*/

/*======== MOBILE FOOTER STYLES========*/
.page-footer .logotype {
    width: 116px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
}
.footer-icon-text {
    margin-left: auto;
    margin-right: auto;
}
.page-footer-text {
    width: 288px;
    margin-bottom: 72px;
}
.footer-form-subscribe {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.footer-form-input {
    width: 100%;
    margin-bottom: 16px;
}

.footer-form-button {
    margin-left: auto;
    margin-right: auto;
}

/*========/ MOBILE FOOTER STYLES========*/
}


/*======== MOBILE AND TABLET STYLES========*/ 

@media screen and (max-width: 1158px) {
    .hero {
        background: url(../images/people-office.jpg), lightgray 0px -3.875px / 100% 102.695% no-repeat;  
    }


    /*======== MOBILE AND TABLET OUR BENEFITS STYLES========*/
   
    .benefits-list-title {    
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }
    .benefits-list-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .benefits-list-item {
        width: 356px;
        height: 120px;
    }
    /*========/ MOBILE AND TABLET OUR BENEFITS STYLES========*/

    /*========  MOBILE AND TABLET OUR TEAM STYLES========*/
    .our-team {
        padding: 96px 0;
    }

/*========/ MOBILE AND TABLET OUR TEAM STYLES========*/

/*======== MOBILE AND TABLET PORTFOLIO STYLES========*/
.portfolio-overlay-text {
    display: none;
}

/*========/ MOBILE AND TABLET PORTFOLIO STYLES========*/
   
/*======== MOBILE AND TABLET FOOTER STYLES========*/
.page-footer {
    padding-top: 97.5px;
    padding-bottom: 96px;
}

/*========/ MOBILE AND TABLET FOOTER STYLES========*/
}
/*========/ MOBILE AND TABLET STYLES========*/     






/*-------------/ TABLET STYLES -----------------*/
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
/*-------------  TABLET HEDER STYLES-----------------*/

    .mobile-menu {
        display: none;
    }
    .mobile-open-btn {
        display: none;
    }
    .page-header {
        padding-top: 16px;
        padding-bottom: 16px;
        height: 72px;
    }
    
    .menu {
        display: flex;
        gap: 40px;
    }
    .contact-list {
        display: block;
    }
    
    .page-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 76px;
    }
    .contact-list-item:not(:last-child) {
        margin-bottom: 12px;
    }
    .menu-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
        
        }
        .menu-link:hover,
        .menu-link:focus {
            color: #404BBF;
        }
        .menu-link-first {
            position: relative;
            color: #404bbf;
        }
        .menu-link-first::after {
            content: "";
            position: absolute;
            width: 48px;
            height: 4px;
            border-radius: 2px;
            background-color:  #404BBF;
            left: 0;
            bottom: -1px;
        }
        .contact {
            font-style: normal;
        }
        .contact-list-link {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.16;
            letter-spacing: 0.04em;
            color: #434455;
            transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        }
        .contact-list-link:hover,
        .contact-list-link:focus {
            color: #404BBF;
        }
/*------------- /TABLET HEDER  STYLES-----------------*/

/*-------------TABLET  HERO  STYLES-----------------*/
        .hero {  
            padding: 112px 0;
            max-width: 768px;
            max-height: 436px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;  
           
        }
        .main-title {
            font-size: 56px;
            line-height: 1.07;
            margin-bottom: 36px;
            max-width: 496px;
            max-height: 120px;            
        }
        .order-service-btn {
            margin-bottom: 112px;
        }
        
/*------------- / TABLET HERO STYLES-----------------*/


/*------------ TABLET MODAL WINDOW  STYLES ------------*/
.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}
.modal-window-text {
    width: 360px;
    height: 24px;   
}

/*------------ / TABLET MODAL WINDOW  STYLES ------------*/

/*------------   TABLET FORM  STYLES ------------*/
.modal-form-input {
    padding-left: 38px;
}
/*------------ /  TABLET FORM  STYLES ------------*/
/*======== TABLET OUR TEAM STYLES========*/
.our-team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    padding-left: 92px;
    padding-right: 92px;
}
.our-team-list-item {
    width: calc((100%-24px)/2);
}

/*========/ TABLET  OUR TEAM STYLES========*/

/*======== TABLET PORTFOLIO STYLES========*/
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
.portfolio-list-item {
    width: calc((100% - 24px) / 2);
}
.portfolio-overlay {
    height: 300px;
}
/*========/ TABLET PORTFOLIO STYLES========*/

/*======== TABLET FOOTER STYLES========*/
.page-footer {
    padding: 96px 148px 96px 92px; 
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
.page-footer-text {
    width: 264px;
}
.footer-icon-box {
    width: 208px;
    height: 80px;
}
.footer-form-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.footer-form {
    display: flex;
    gap: 24px;
}
.footer-form-input {
    width: 264px;

}

/*========/ TABLET FOOTER STYLES========*/
} 

/*------------- /TABLET STYLES -----------------*/    
  
   
/*------------- DESKTOP STYLES -----------------*/      

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
    
/*-------------  DESKTOP HEDER STYLES -----------------*/
    .page-header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .contact-list-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .contact-list {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 40px;    
    } 

/*------------- / DESKTOP HEDER STYLES -----------------*/

/*-------------  DESKTOP HERO STYLES -----------------*/
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        max-height: 600px;
        background: url(../images/people-office.jpg), lightgray 0px -167.766px / 100% 139.922% no-repeat;    
    }
    .main-title {
        margin-bottom: 48px;
    }
    .order-service-btn {
        margin-bottom: 188px;
    }
/*------------- /DESKTOP HERO  STYLES --------*/

/*======== DESKTOP OUR BENEFITS STYLES========*/
.benefits {
    padding-top: 191px;
    padding-bottom: 120px; 
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list-item{
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 264px;
    align-items: flex-start;
}
.benefits-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd; 
    border-radius: 4px;
    border: 1px solid  #8E8F99;
    margin-bottom: 8px;
}
/*========/ DESKTOP OUR BENEFITS STYLES========*/ 

 /*========  DESKTOP OUR TEAM STYLES========*/
 .our-team {
    padding: 120px 0;
 }
 .our-team-list {
    flex-wrap: nowrap;
    gap: 24px;
    padding-left: 0;
    padding-right: 0;
 }
 .our-team-list-item {
    width: calc((100%-72px) / 4);
 } 

/*========/ DESKTOP OUR TEAM STYLES========*/

/*======== DESKTOP PORTFOLIO STYLES========*/
.portfolio {
    padding: 120px 0;
}
.portfolio-list {
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-overlay {
    position: relative; 
    overflow: hidden; 
}
.portfolio-overlay-text {
    display: block;
    position: absolute;
    top: 0;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    padding: 40px 32px;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
}
.portfolio-list-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

/*========/ DESKTOP PORTFOLIO STYLES========*/

/*======== DESKTOP FOOTER STYLES========*/
.page-footer {
    padding: 100px 0;
}
.footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 80px;
}
.footer-logotype-box {
    margin-right: 120px;
}

    
/*========/ DESKTOP FOOTER STYLES========*/



}
